@using DTOs.DTOs

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@model AuditoriaPrestamoDTO

<ul>
    <li>Id: @Model.Id</li>
    <li>Fecha: @Model.Fecha</li>
    <li>Acción: @Model.Accion</li>
    <li>Coordinador: @Model.CoordinadorId - @Model.CoordinadorNombre</li>
    <li>Socio: @Model.SocioId - @Model.SocioNombre</li>
    <li>Préstamo: @Model.PrestamoId</li>
</ul>
