

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@model ListarAuditoriasPorCoordinadorViewmodel

<p>Coordinador recibido: @ViewBag.Test</p>

<form method="post">
    <label for="coordinadorId">Busqueda por coordinador</label>
    <select name="coordinadorId" id="coordinadorId">
        <option value="">
            Seleccione a un coordinador
        </option>
        @foreach (UsuarioDTO usu in Model.Coordinadores)
        {
            <option value="@usu.Id">
                @usu.Id - @usu.Nombre - @usu.Apellido
            </option>
        }
    </select>

    <input type="submit" value="Filtrar" />
</form>

@if (Model.Auditorias != null && Model.Auditorias.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Auditorias.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auditorias.First().Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auditorias.First().Accion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auditorias.First().PrestamoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auditorias.First().CoordinadorId)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (AuditoriaPrestamoDTO item in Model.Auditorias)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fecha</td>
                    <td>@item.Accion</td>
                    <td>@item.PrestamoId</td>
                    <td>@item.CoordinadorId</td>
                    <td>

                        <a asp-controller="Prestamo"
                           asp-action="Details"
                           asp-route-id="@item.PrestamoId">
                            Ver préstamo
                        </a>




                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay auditorías para mostrar.</p>
}