
@using DTOs.DTOs

@model IEnumerable<AuditoriaPrestamoDTO>

<h2>Auditoría de Préstamos</h2>

<a asp-controller="AuditoriaPrestamo" asp-action="FilterByCoordinador">Ver auditoria filtrado por coordinador</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestamoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordinadorId)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (AuditoriaPrestamoDTO item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrestamoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoordinadorId)
                </td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.Id">
                        Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>