@using DTOs.DTOs
@model IEnumerable<PrestamoDTO>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telescopio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocular)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PrestamoDTO item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telescopio.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Montura.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Camara.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ocular.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
