
@model IEnumerable<PrestamoModel>

    @if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post">

    <label for="Mes">Ingrese mes: </label>
    <input id="Mes" type="number" name="mes" min="1" max="12" />

    <label for="Anio">Ingrese anio: </label>
    <input id="Anio" type="number" name="anio" />

    <input type="submit" value="Buscar" />

</form>

@if (Model.Any() && Model != null)
{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atrasado)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelescopioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonturaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CamaraID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcularID)
            </th>

            <th></th>
        </tr>
    </thead>




        <tbody>
            @foreach (PrestamoModel item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Atrasado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelescopioID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonturaID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CamaraID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OcularID)
                    </td>
                </tr>
            }
        </tbody>

        </table>            
    }
 else{
<p>No hay préstamos para mostrar.</p>
}