@using DTOs.AuxiliarViewmodel
@using DTOs.DTOs
@model PrestamoDevolucionViewmodel

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post">
<select name="socioId">
    @foreach(UsuarioDTO usu in Model.Socios)
    {
        <option value="@usu.Id">
            @usu.Username + @usu.Email
        </option>
    }
</select>

<input type="submit" value="Seleccionar"/>
</form>

<form method="post" asp-action="Return4Real">

    <select name="prestamoId">
        @foreach (PrestamoDTO pres in Model.Prestamos)
        {
            <option value="@pres.Id">
                Préstamo @pres.Id
            </option>
        }
    </select>

    <input type="submit" value="Devolver" />

</form>