@using StellarMindsWebApp.AuxiliarViewmodel

@model ObservacionAltaViewmodel

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post">

    <label for="Fecha">Fecha</label>
    <input id="Fecha" name="Fecha" type="date" />

<label for="PrestamoId">Préstamo</label>
<select name="PrestamoId">
    <option value="">Seleccione préstamo</option>

    @foreach(PrestamoModel prestamo in Model.Prestamos)
    {
        <option value="@prestamo.Id">
            Prestamo @prestamo.Id - Socio @prestamo.SocioId
        </option>
    }
</select>

<label for="ObjetoCelesteId">Objeto celeste</label>
<select name="ObjetoCelesteId">
    <option value="">Seleccione objeto celeste</option>

    @foreach (ObjetoCelesteModel objeto in Model.ObjetosCelestes)
    {
        <option value="@objeto.Id">
            @objeto.Id - @objeto.Nombre - @objeto.Tipo
        </option>
    }
</select>

<input type="submit" value="Programar observación"/>

</form>