@using DTOs.DTOs
@using StellarMinds.Entities
@model IEnumerable<EquipoDTO>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-controller="Equipo" asp-action="Create">Crear equipo</a>
<a asp-controller="Equipo" asp-action="ListSocioTele">Listado socios por telescopio</a>


<a asp-controller="Usuario" asp-action="Logout">Logout</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantDisp)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (EquipoDTO item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantDisp)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id  }) 
                </td>
            </tr>
        }
    </tbody>
</table>
